* {
  box-sizing: border-box;
  font-family: Calibri, "Trebuchet MS", sans-serif;
  --highlight-color: #f7f784;
  --primary-color: white;
  --alt-primary-color: lightgray;
  --alt-secondary-color: #f0f8ff;
  --secondary-color: #003366;
  --font-color: black;
}

body {
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  align-items: center;
  justify-content: center;
  padding: 0;
  background-color: var(--primary-color);
}

table {
  border-collapse: collapse;
}

td,
th {
  border: 1px solid var(--font-color);
  text-align: center;
}

td {
  padding: 4px;
}

input {
  display: flex;
  text-align: left;
  width: 30%;
}

label {
  display: flex;
  width: 15%;
}

button {
  display: flex;
  justify-content: center;
  background-color: var(--alt-primary-color);
  border-radius: 2px;
  width: 50%;
  cursor: pointer;
  transition: 0.1s ease-in-out;
}

th {
  padding: 10px;
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

button:hover {
  background-color: steelblue;
  color: var(--primary-color);
}

.page-title {
  display: flex;
  font-size: 24pt;
  font-weight: bold;
  width: 90%;
}

.content {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
}

.panel {
  display: flex;
  width: 100%;
  margin: 10px;
}

.right-content {
  display: flex;
  width: 50%;
  min-height: 100vh;
  max-height: fit-content;
  flex-direction: column;
  justify-content: flex-start;
}

.table-view {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 100%;
}

.input-pane {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 2px;
  justify-content: space-around;
  border: 1px dashed steelblue;
  background-color: var(--alt-secondary-color);
  padding: 20px;
  align-items: left;
  max-height: 40%;
}

.result-pane {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: fit-content;
}

.results-data {
  display: flex;
  height: 100%;
  width: 100%;
  border: 1px dashed gray;
  min-height: 100%;
  background-color: var(--alt-primary-color);
}

.input-container {
  display: flex;
  justify-content: left;
  gap: 5px;
}

.highlight {
  background-color: var(--highlight-color);
}

.result-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

#results {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
