* {
  box-sizing: border-box;
  font-family: Calibri, "Trebuchet MS", sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  align-items: center;
  justify-content: center;
  padding: 0;
}
.page-title {
  display: flex;
  font-size: 24pt;
  font-weight: bold;
  width: 90%;
}
.content {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
}
.panel {
  display: flex;
  width: 100%;
  margin: 10px;
}
.right-content {
  display: flex;
  width: 50%;
  min-height: 100vh;
  max-height: fit-content;
  flex-direction: column;
  justify-content: flex-start;
}

.table-view {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 100%;
}
.input-pane {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-around;
  border: 1px dashed steelblue;
  background-color: #f0f8ff;
  padding: 20px;
  align-items: left;
  max-height: 40%;
}
.result-pane {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: fit-content;
}
.results-data {
  display: flex;
  height: 100%;
  width: 100%;
  border: 1px dashed gray;
  min-height: 100%;
  background-color: lightgray;
}
.input-container {
  display: flex;
  justify-content: left;
  gap: 5px;
}
table {
  border-collapse: collapse;
}
td,
th {
  border: 1px solid black;
  text-align: center;
}
td {
  padding: 4px;
}
input {
  display: flex;
  text-align: left;
  width: 30%;
}
label {
  display: flex;
  width: 15%;
}
button {
  display: flex;
  justify-content: center;
  background-color: light-gray;
  width: 50%;
}

th {
  padding: 10px;
  background-color: #003366;
  color: white;
}
.highlight {
  background-color: #f7f784;
}
#results {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.result-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 95%;
}
